h2 {
    height: 10%;
}
 h3{height: 8%;
 }

h1, h2, h3, h4, h5, h6 {font-family:Charcoal, sans-serif;
}
p {font-size: 	1.5rem; 
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}